@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700;800&family=Manrope:wght@200;400;600;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Tapestry&family=Water+Brush&display=swap');

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@mixin btn {
  padding: 10px 30px;
  background: orangered;
  color: white;
  border-radius: 10px;
  border: 1px solid orangered;
  font-size: 18px;
  transition: .4s;
  cursor: pointer;
  &:hover {
    background: transparent;
    color: orangered;
  }
}

@mixin btn2 {
  padding: 10px 15px;
  background: orangered;
  color: white;
  border-radius: 10px;
  border: 1px solid orangered;
  font-size: 16px;
  transition: .4s;
  cursor: pointer;
  &:hover {
    background: transparent;
    color: orangered;
  }
}